

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }

@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
html { font-family: 'Inconsolata', monospace; }

}


@import url('https://fonts.googleapis.com/css?family=Fira+Code:300,500&display=swap');
html { font-family: 'Fira Code', monospace; }



.container {
  max-width: 720px;
  margin: auto;
  margin-bottom:20px;
  padding: 20px;
  min-height: 100vh;
  position:relative;
}

.container_alt {
  max-width: 720px;
  margin: auto;
  margin-bottom:20px;
  padding: 20px;
  background-color: #ffffff;
  min-height: 100vh;
  position:relative;
}

.outside_border {
    border-color:#cccccc;
    border-width:10px;
    border: 30px solid #cccccc;
    margin:-10px;
    margin-bottom:-26px;
    padding-bottom:14rem;
    padding-top:2.5rem;
    position:relative;
}


#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}


/*Styles of the page */

.triangle {
      float:left;
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 40px solid black;
      margin: 2px;

    }

#headerimg {
 width:auto;
 height:250px;
 margin:-20px;

}    

.supertitolo {
  font-family: Inter, sans-serif;
  font-size: 72px;
  font-weight: bold;
  margin-top:-20px;

}

}

.h5 {

  font-family: 'Fira Code';
  font-size: 6px
  font-weight:lighter;

}

p  
{
  font-family: 'Fira Code', monospace;
  font-weight:light;
  font-size: 12px;
  line-height: 22px;  
  margin-bottom: 22px;  
}


h3, h4,h5, h6  
{  
    font - family: 'Fira Code', monospace; 
    line - height: 22px;  
    margin - bottom: 22px;  
} 

h2
{
  font-family: Inter, sans-serif;
  font-size: 26px ;
  line-height: 22px;  
  margin-bottom: 22px; 

}

img.size-1, img.size-2, img.size-3, img.size-4 { width: 100%; }


 /* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: black;
  text-decoration:underline;
}

/* selected link */
a:active {
  color: black;
  text-decoration:underline;
} 




/* Style the top navigation bar */
.navbar {
  width: 200px;
  overflow-y: auto;
}

/* Style the navigation bar links */
.navbar a {
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: black; /* black text color */
  text-align: left; /* Center the text */
  padding: 10px 0px; /* Add some padding */
  text-decoration: underline; /* Remove underline */
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size:14px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}


li a {
  align:left;
  display: block;
  color: #000;
  padding: 0px 0px;
  text-decoration: none;
}


/* Ensure proper sizing */
* {
  box-sizing: border-box;
}

/* Column container */
.row {
  display: flex;
}


/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {

  flex: 30%; /* Set the width of the sidebar */
  background-color: #cccccc /* Grey background color */
  padding: 20px; /* Some padding */
  float:left;

}


/* Main column */
.main {
  flex: 70%; /* Set the width of the main content */
  padding: 0px; /* Some padding */
    /* Scroll */
                overflow-x: hidden; 
                overflow-x: auto;
}

              


@media screen and (min-width: 700px) {
  .row {
    flex-wrap: nowrap; 
  }

}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}


/* Newsletter */

form {
  display:inline-block;

}


#newsletter-form {
  padding:10px;
  }


#newsletter-form input {
  border: 1.5px solid
  black;
  display: inline-block;
  padding:14px;
  float:left;
  }

 
.button {
  margin-left:-1px;
}



/* Solid border */
hr.solid {
  max-width: 700px;
  border: 4px solid black;
}



.footer {
  position:absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: left;
  margin-top:5px;
  height: 2.5rem;            /* Footer height */
  display:block;

}

.footlist {
  float:left;
  text-align: left; 
  display: inline-block;
  color: red;
  padding: 2px 16px;
  text-decoration: underline;
  font-size: 12px;

}

#mailfooter {
  float:left;
  text-align:left;
  font-weight:700;
  display: inline-block;

}

.randomdivision {
     border: 1px dashed black;
    
}

.image-exxent {
    max-width:100%;
    height:auto;
}

.hovermap {
    position:relative;
}

.image-hovered {
    position:absolute;
    max-width:100%;
    height:auto;
    opacity: 0.0;
  transition: 0.3s;
  z-index: 2;
  float:left;
  top: 0px;
  left: 0px;
  
}

.image-hovered:hover {
    opacity: 1}